server {
        listen 80;
        listen [::]:80;

        root {{ librenms_install_dir }}/html;
        index index.php;

        error_log /var/log/nginx/librenms_error.log;
        access_log /var/log/nginx/librenms_access.log;

        server_name {{ vagrant_host }};

        location / {
                disable_symlinks off;
                try_files $uri $uri/ @librenms;
        }

        location @librenms {
                rewrite ^api/v0(.*)$ /api_v0.php/$1 last;
                rewrite ^(.+)$ /index.php/$1 last;
        }

        location ~ \.php {
                include snippets/fastcgi-php.conf;
                fastcgi_pass unix:/var/run/php5-fpm.sock;
        }

        location ~ /\.ht {
                deny all;
        }
}
